@charset "UTF-8";
/* consel_seacrh(1).jsp에 대한 css파일 */
	#login_btn {
			border: 1px solid #88BFF1;
			background-color: #88BFF1;
			color: #FFFFFF;
			padding: 5px;
			border-radius: 5px;
		}
		
		#login button {
			position: absolute;
			top: 25px;
			left: 1401px;
			border: 1px solid #88BFF1;
			background-color: #88BFF1;
			color: white;
			padding: 5px 20px 5px 20px;
		}
	
		#login button:hover {
			color: #88BFF1;
			background-color: white;
		}
		
		#hr {
			position: absolute;
			top: 74px;
			width: 1900px;
			border: 1px solid #C4C4C4;
		}
		
		#home {
			position: absolute;
			top: 129px;
			left: 1337px;
		}
		
		#local1 {
			position: absolute;
			top: 126px;
			left: 1360px;
		}
		
		#next {
			position: absolute;
			top: 132px;
			left: 1407px;
		}
		
		#local2 {
			position: absolute;
			top: 127px;
			left: 1430px;
		}
		
		#p_name {
			position: absolute;
			top: 194px;
			left: 742px;
			width: 707px;
			height: 41px;
			border: 1px solid #C4C4C4;
		}
		
		#search {
			background: url('../image/search.jpg');
			background-repeat: no-repeat;
			position: absolute;
			top: 194px;
			left: 1449px;
			width: 43px;
			height: 43px;
			border: 1px solid #C4C4C4;
		}
		
		#square {
			position: absolute;
			top: 268px;
			left: 742px;
			border-radius: 5px;
			width: 749px;
			height: 589px;
			border: 1px solid #C4C4C4;
		}
		
		#hr1 {
			position: absolute;
			top: 208px;
			left: 411px;
			width: 68px;
			border: 1px solid #C4C4C4;
		}
		
		#hr2 {
			position: absolute;
			top: 208px;
			left: 611px;
			width: 68px;
			border: 1px solid #C4C4C4;
		}
		
		#select {
			position: absolute;
			top: 208px;
			left: 514px;
		}
		
		ul, li {
			list-style: none; 
			padding: 0; 
			margin: 0;
		}

  		#ac {
  			position: absolute;
  			top: 269px;
  			left: 412px;
    		width: 267px;
  		}

  		#ac .m1 {
    		background: white;
    		border: 1px solid #C4C4C4;
    		border-left: 5px solid #88BFF1;
    		line-height: 40px;
    		text-align: center;
    		cursor: pointer;
  		}

  		#ac .m2 {
    		background: #F9F9F9;
    		display: none;
  		}
		
		#ac .m3 {
			border-top: 1px solid #C4C4C4;
		}
		
		#footer {
			position: absolute;
			top: 974px;
			width: 1900px;
			height: 210px;
			background-color: #F9F9F9;
			vertical-align: middle;
			text-align: center;
		}