@charset "UTF-8";
/* index.jsp에 대한 css파일 */
	#explain {
		background-image: url('../image/banner.png');
		display: table;
		width: 1920px;
		height: 530px;
		margin: 0 auto;
		color: #819ADE;
		font-size: 36px;
		font-family: 'Noto Sans KR';
	}
	
	#ex1 {
		margin-top: 50px;
		margin-left: 408px;
	}
	
	#ex2 {
		margin-top: 10px;
		margin-left: 408px;
	}
	
	#reserve {
		margin-left: 408px;
		display: table-cell;
		margin-top: 32px;
		font-family: 'Roboto';
		width: 136px;
		height: 52px;
		color: #819ADE;
		background: white;
		font-size: 18px;
		border: solid #819ADE 2px;
		font-weight: bold;
	}
	
	#reserve:focus {
		outline: 0;
	}
	
	#reserve:hover {
		cursor: pointer;
	}
	
	#section {
		display: table;
		width: 1280px;
		height: 382px;
		margin: 0 auto;
		margin-top: 70px;
	}
	
	#calendar {
		display: table-cell;
		float: left;
	}
	
	#calendar_header {
		display: table-cell;
		width: 686px;
		height: 38px;
		border: solid #EAF3FA 1px;
		background-color: #EAF3FA;
		border-radius: 5px 5px 0 0;
		vertical-align: middle;
		padding-left: 10px;
	}
	
	#calendar_body {
		width: 696px;
		height: 344px;
		border: solid #C4C4C4 1px;
		border-radius: 0 0 5px 5px;
		background-color: white;
	}
	
	#announcement {
		display: table-cell;
		float: right;
		border: solid #C4C4C4 1px;
		border-radius: 5px;
	}
	
	#announcement_header {
		display: table-cell;
		width: 502px;
		height: 32px;
		border-bottom: solid white 2px;
		background-color: #F9F9F9;
		border-radius: 5px 5px 0 0;
		padding-left: 10px;
		color: #FC8396;
		vertical-align: middle;
	}
	
	#announcement_header a {
		float: right;
		padding-right: 10px;
		color: #FC8396;
	}
	
	#announcement_body {
		width: 512px;
		height: 142px;
		border-radius: 0 0 5px 5px;
		background-color: #F9F9F9;
	}
	
	#notice{
		display: table-cell;
		float: right;
		margin-top: 29px;
		border: solid #C4C4C4 1px;
		border-radius: 5px;
	}
	
	#notice_header {
		display: table-cell;
		width: 502px;
		height: 32px;
		border-bottom: solid white 2px;
		background-color: #F9F9F9;
		border-radius: 5px 5px 0 0;
		padding-left: 10px;
		color: #FC8396;
		vertical-align: middle;
	}
	
	#notice_header a {
		float: right;
		padding-right: 10px;
		color: #FC8396;
	}
	
	#notice_body {
		width: 512px;
		height: 142px;
		border-radius: 0 0 5px 5px;
		background-color: #F9F9F9;
	}
	
	#footer {
   		top: 1178px;
        position: absolute;
        width: 100%;
        height: 210px;
        background-color: #F9F9F9;
        vertical-align: middle;
        text-align: center;
      }
